
.container {
  position: relative;
  transform: translateY(-12%);
  text-align: center;
  max-width: 124rem;
  padding: 0 5rem;
  margin: 0 auto;
}
.header-slider {
  min-height: 500px;
}
.pagination {
  position: absolute;
  transform: translateY(-60%);
  z-index: 20;
  top: 45%;
  width: 100%;
}
@media (max-width: 400px) {
  .container {
    max-width: 22rem;
  }
  #tranding .header-slider {
    height: 45rem;
  }
}

.header-slide {
  width: 17rem;
  height: 22rem;
  position: relative;
  min-height: 475px;
}

@media (max-width: 400px) {
  .header-slide {
    width: 18rem !important ;
    height: 18rem !important ;
  }
  .header-slide .header-slide-img img {
    width: 20rem !important ;
    height: 20rem !important ;
  }
}
.container {
  padding: 0;
}
.header-slide .header-slide-img img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.swiper-slide {
  margin-left: auto;
  margin-right: auto;
}
